.apropos{
    background-color: #000;
    width: 100%;
    height: 464px;
    
}
h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-top: 20px;
        
}
p{
    color: #fff;
    width: 50%;
    margin-left: 500px;
    line-height: 50px;
    text-align: center;
}
.iconimage{
    display: flex;
    justify-content: center;
    padding: 0 20%;
    margin: 0 20%;
}
.imgfooter{
    width: 50px;
    height: 50px;
    margin-right: 10%;
}
hr{
    width: 70%;
    color: #fff;
    margin-top: 20px;
}
span{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}